<%= stylesheet_link_tag "cart", :media => "all"%>

  <div class="container-fluid py-5 h-100"style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="d-flex justify-content-between  align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Products In Order</h1>
                    <h6 class="mb-0 text-muted"> </h6>
                  </div>
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                    <h6 class="text-black mb-0">Image</h6>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <h6 class="text-black mb-0">Name</h6>
                    </div>                   
                    <div class="col-md-2 col-lg-2 col-xl-2 ">
                      <h6 class="mb-0"> Quanity </h6>
                    </div>            
                     <div class="col-md-2 col-lg-2 col-xl-2 ">
                      <h6 class="mb-0"> Price </h6>
                    </div>          
                  </div>
                  <% @cart_products.each do | cart|%>
                  <hr class="my-4">
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                   <div class="col-md-2 col-lg-2 col-xl-2">
                      <h6 class="text-muted mb-0"> <img
                        src="<%=cart.product.image %>"
                          class="img-fluid rounded-3" alt="Cotton T-shirt"></h6>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <h6 class="text-muted mb-0"><%=cart.product.name%></h6>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <h6 class="text-muted mb-0"><%=cart.quantity%></h6>
                    </div>                   
                    <div class="col-md-2 col-lg-2 col-xl-2 ">
                      <h6 class="mb-0 text-muted"> <%=cart.total_amount%></h6>
                    </div>
                    
                  </div>
                  <%end%>       
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
