<%= stylesheet_link_tag "products", :media => "all"%>
<div class="container-fluid " >
  <div class="row mx-5">
   <% if @products.present? %>
    <% @products.each do |cat| %>
    <div class="col-3 p-0 mx">
      <div class="card my-3" style="width: 18rem;">
        <img
          class="card-img-top"
          height="200px"
          width="150px"
          src="<%= cat.image %>"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-title"><%=cat.name %></p>
          <p class="card-title"><%=cat.price %></p>
          <p class="card-text"><%#=cat.description%></p>
          <%= button_to 'Add to cart',"/customer/cart/#{cat.id}", method:"post", class:"btn btn-sm btn-outline-success"%>
        </div>
      </div>
    </div>
    <br />
    <% end %>
    <%else%>
     <h3>Products Not Available </h3>
    <%end%>
  </div>
</div>
