
<%= stylesheet_link_tag "cart", :media => "all"%>
<section class="h-100 h-custom" style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                   
                  </div>
                  <%if @cart_products.present?%>
                    <% @cart_products.each do |cart|%>
                    <hr class="my-4">
  
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                        src="<%=cart.product.image %>"
                          class="img-fluid rounded-3" alt="Cotton T-shirt">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-black mb-0"><%=cart.product.name%></h6>
                      </div>
                      <div class="col-md-2 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fas fa-minus"></i>
                        </button>
                        <input id="<%=cart.product_id%>" type="number" min="1" value="<%=cart.quantity%>" onchange="quantity(this)"  class="form-control form-control-sm" >
  
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-2 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0"> <%=cart.total_amount%></h6>
                      </div>
                      <div class="col-md-2 col-lg-2 col-xl-2 text-end">
                        <%= button_to "Remove","/customer/carts/#{cart.product.id}", :method=> "delete", class:'  btn btn-sm btn-danger'%>
                      </div>
                    </div>
                    <%end %>
                                     
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5> <%=@total_ammount%></h5>
                  </div>
                    <%= button_to "Checkout","/customer/order/new", method:"get", class:' btn btn-dark btn-block btn-lg'%>
                </div>
              </div>
               <%else%>
                   <h3> Items Not Add </h3>
               <%end%>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
function quantity(obj) {
  var val = obj.value;
  var product = obj.id;
  $.ajax({
          type: 'PATCH',
          url: '/customer/cart',
          data: {
            quantity: val,
            product_id: product
            },
          dataType: 'script',
        });
}

</script>